@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
// color plate:
$colorBlack:#000;
$colorGreen:#8BC34A;
$fontHover:#777777;
$colorGray:gray;
$colorserch:#6C86BC;
$colorLight:#B28F80;
$bg-color:#F8F9FA;

body {
    font-family: 'Cabin', sans-serif;
  }
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    width: 85%;
    margin: auto;
  }
  
  @import 'header';
  @import 'nav';
  @import 'hero';
  @import 'responsive';